@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #86d2fe;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.niphem-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.niphem-logo {
  color: #182d9a;
}

.niphem-nav-list {
  display: flex;
  gap: 2em;
}

.niphem-nav-list li a {
  color: #182d9a;
  font-weight: 500;
}

.fa-bars-staggered {
  font-size: 1.8em;
  display: none;
  color: #182d9a;
}
.buku {
  margin-top: 7px;
}

/* @media (max-width:1228px) {
  .buku {
    margin-top: 50px;
  }

  
} */

/*--head-media--*/

@media (max-width: 1069px) {
  .buku {
    padding: 1px 1.5px;
    font-weight: 400;
    font-size: 1em;
  }

  .niphem-logo {
    /* display: none; */
    font-size: 1.2em;
  }
}

@media (max-width: 925px) {
  .logo-img {
    width: 2.5em;
  }
  .niphem-logo {
    font-size: 1.5em;
  }
  .contact {
    font-weight: 400;
    padding: 6px 10px;
  }
  .niphem-nav-list {
    gap: 1.5em;
  }
}

@media (max-width: 865px) {
  .niphem-nav-list {
    display: none;
  }
  .niphem-nav {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .Contact {
    display: none;
  }
  .fa-bars-staggered {
    display: block;
  }
}

@media (max-width: 450px) {
  .niphem-logo {
    display: none;
  }
}

/*--hero-section--*/

.first-section {
  background-color: #86d2fe;
  position: relative;
  top: 68px;
}

.first-section-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px;
  /* width: 80%; */
  margin: auto;
}

.hero .intro {
  font-size: 2.3em;
  font-weight: bold;
  color: #182d9a;
}

.hero .full {
  font-size: 2.3em;
  font-weight: bold;
  color: #182d9a;
}

.intro {
  margin-bottom: 20px;
}

.name {
  font-style: italic;
  color: #3165f6;
  text-decoration: underline;
}

.deva {
  margin-bottom: 10px;
  font-size: 2em;
  color: #182d9a;
}

.ila {
  border-bottom: #3165f6 5px solid;
  width: 90px;
  margin-bottom: 15px;
}

.socials {
  display: flex;
  gap: 1em;
}

.fa-square-x-twitter {
  color: #000;
  font-size: 1.6em;
}

.fa-telegram {
  color: #000;
  font-size: 1.6em;
}

.fa-linkedin {
  color: #000;
  font-size: 1.6em;
}

.hero-second img {
  width: 35vh;
  border-radius: 20px;
  border: 5px solid #182d9a;
  /* position: absolute; */
}

/* media query hero section */

@media (max-width: 898px) {
  .hero p {
    font-size: 2.2em;
  }
  .deva {
    font-size: 1.5em;
  }
  .first-section-flex {
    padding: 60px;
  }
  .hero-image img {
    width: 29vh;
  }
}

@media (max-width: 828px) {
  .first-section-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    gap: 2em;

    width: 100%;
  }

  .hero .intro {
    font-size: 2em;
  }

  .hero .full {
    font-size: 1.8em;
  }

  .hero .deva {
    font-size: 1.6em;
  }

  .ila {
    margin: 15px auto;
    align-items: center;
    border-bottom: #3165f6 5px solid;
    width: 140px;
  }

  .first-section-flex {
    font-size: 1.5em;
  }

  .hero-image img {
    width: 55vh;
    border-radius: 50%;
    border: 8px solid #182d9a;
  }
  .socials {
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
  }

  .fa-brands {
    font-size: 1.3em;
  }
}

@media (max-width: 578px) {
  .hero-image img {
    width: 45vh;
    border-radius: 50%;
    border: 7px solid #182d9a;
  }
}

@media (max-width: 425px) {
  .hero .intro {
    font-size: 1.8em;
  }

  .hero .full {
    font-size: 1.5em;
  }

  .deva {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .hero-image img {
    width: 39vh;
  }
}

@media (max-width: 320px) {
  .hero .intro {
    font-size: 1.6em;
  }

  .hero .full {
    font-size: 1.2em;
  }

  .hero .deva {
    font-size: 1.2em;
  }

  .hero-image img {
    width: 35vh;
  }
}

.second-section {
  position: relative;
  top: 68px;
  background-color: #86d2fe;
}

.div-second-sect {
  /* padding: 80px; */
  width: 65%;
  margin: auto;
  align-items: center;
  /* text-align: center; */
  padding-bottom: 30px;
}

.my-info {
  margin: auto;
  color: #182d9a;
  text-align: center;
  margin-bottom: 5px;
  /* padding-top: 60px; */
}

marquee img {
  width: 3em;
  /* display: flex; */
  flex-direction: row;
  margin: 20px;
  gap: 2em;
}

.phan-me {
  display: flex;
  gap: 2em;
}

.phan-me .me {
  background-color: #182d9a;
  padding: 40px;
  color: white;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px 3px #000000; */
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5),
    0 10px 30px 0 rgba(255, 255, 255, 0.5);
}

.me:hover {
  transform: scale(1.05);
}
.phan-me .phan {
  background-color: #182d9a;
  padding: 40px;
  color: white;
  border-radius: 10px;
  /* box-shadow: 0px 0px 2px 3px #000000; */
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5),
    0 10px 30px 0 rgba(255, 255, 255, 0.5);
}

.phan:hover {
  transform: scale(1.05);
}

@media (max-width: 898px) {
  .me {
    padding: 10px;
  }
  .phan {
    padding: 10px;
  }
}

@media (max-width: 828px) {
  .phan-me {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 528px) {
  .div-second-sect h1 {
    margin-bottom: 40px;
    font-size: 1.6em;
  }
}

@media (max-width: 430px) {
  .div-second-sect {
    width: 80%;
  }

  .phan-me .me {
    padding: 20px;
  }

  .phan-me .phan {
    padding: 20px;
  }
}

@media (max-width: 430px) {
  .skills {
    width: 90%;
  }
  .skills img {
    width: 40px;
  }
}

/* services-css */

.Services {
  position: relative;
  top: 68px;
  background-color: #86d2fe;
}

.Services2 {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.two2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.firsttwo {
  padding: 20px;
  /* width: 400px; */
  /* border-left: .5px solid #182D9A; */
}

.secondtwo {
  padding: 20px;
  /* width: 400px; */
  border-left: 0.5px solid #182d9a;
}

.lastone {
  padding: 20px;
  /* width: 400px; */
  border-left: 0.5px solid #182d9a;
  /* border-right: .5px solid #182D9A; */
}

.Services2 h3 {
  margin: auto;
  text-align: center;
  color: #182d9a;
  margin-bottom: 5px;
  padding-top: 40px;
}

.firsttwo i {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #000000;
}

.firsttwo h3 {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #182d9a;
}

.secondtwo i {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #000000;
}

.secondtwo h3 {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #182d9a;
}

.lastone i {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.lastone h3 {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: #182d9a;
}

@media (max-width: 1068px) {
  .firsttwo {
    padding: 20px;
  }

  .secondtwo {
    padding: 20px;
  }

  .lastone {
    padding: 20px;
    /* width: 450px; */
  }
}

@media (max-width: 931px) {
  .firsttwo {
    padding: 20px;
  }

  .secondtwo {
    padding: 20px;
  }

  .lastone {
    padding: 20px;
    /* width: 400px; */
  }
}

@media (max-width: 828px) {
  .Services {
    width: 100%;
  }
  .two2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    text-align: center;
    margin: auto;
  }

  .lastone {
    margin: auto;
    text-align: center;
    border-left: none;
    border-right: none;
  }
  .firsttwo {
    padding: 20px 20px;
    border-left: none;
    border-right: none;
  }

  .secondtwo {
    padding: 20px 20px;
    border-left: none;
    border-right: none;
  }

  .lastone {
    padding: 20px 20px;
    /* width: 400px; */
  }

  .Services2 h1 {
    margin-bottom: 40px;
  }

  .firsttwo i {
    font-size: 3em;
    margin-bottom: 30px;
  }

  .secondtwo i {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .lastone i {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 528px) {
  .Services2 {
    width: 100%;
  }
  .Services2 h1 {
    margin-bottom: 40px;
    font-size: 1.6em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 420px) {
  .Services2 {
    width: 100%;
  }

  .two2 {
    width: 270px;
    text-align: center;
    margin: auto;
  }

  .firsttwo {
    padding: 20px 20px;
    /* padding-top: 0px; */
    width: 270px;
  }

  .secondtwo {
    padding: 20px 20px;
    width: 270px;
  }

  .lastone {
    padding: 20px 20px;
    width: 270px;
  }
}

/* .submit {
    margin: auto;
} */

.previous {
  background-color: #86d2fe;
  position: relative;
  top: 68px;
  padding: 50px;
}

.previousme {
  width: 80%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.firstsetimg {
  display: flex;
  justify-content: space-around;
}

.previousmehead {
  color: #182d9a;
}

.previoussub {
  color: #182d9a;
  margin-bottom: 20px;
}

/* .image-box{
  background-color: black;
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  margin: 20px;
  z-index: 1222;
}

.image-box p {
  position: absolute;
  bottom: 20px;
  color: white;
  font-weight: 700;
  padding: 40px;
  display: none;
}

.image-box div {
  display: none;
}


.firstsetimg {
  display: flex;
  justify-content: space-around;
}

.firstsetimg img {
  border-radius: 20px;
}

.firstsetimg img {
  width: 400px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
}





.secondsetimg {
  display: flex;
  justify-content: space-around;
}

.secondsetimg img {
  border-radius: 20px;
}

.secondsetimg img {
  width: 400px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
} */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.image-box {
  position: relative;
  width: 400px;
  height: 535px;
  border-radius: 20px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: 0.4s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.8s;
  border-radius: 20px;
  /* z-index: 1; */
}

.text {
  position: absolute;
  color: white;
  bottom: 20px;
  /* left: 20px; */
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.8s;
  padding: 30px;
  /* z-index: 2; */
}

.image-box:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.image-box:hover .text {
  opacity: 1;
}

@media (max-width:526px) {
  .previousme{
    width: 100%;
  }
}

@media (max-width:420px) {
  .image-box {
  width: 450px;
  height: 300px;
}
}

@media (max-width:369px) {
  .text {
  bottom: 0px;
  margin: 5px;
  font-size: 16px;
}

}








.contact-form {
  position: relative;
  top: 67px;
  background-color: #86d2fe;
}

.forming {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* gap: 30px; */
}

.contact-form h3 {
  text-align: center;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 60px;
  color: #182d9a;
}

.fuk {
  align-items: center;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.jamu {
  margin-bottom: 60px;
}

.phone-numner {
  margin: 50px 0px;
}

.gmail {
  margin-bottom: 50px;
}

.address {
  margin-bottom: 50px;
}

input {
  padding: 10px;
  background-color: rgba(218, 241, 255, 0.5);
  /* opacity: 0.2; */
  border: 2px solid #182d9a;
  width: 165px;
  height: 45px;
  margin: 6px;
}

input::placeholder {
  color: #182d9a;
  font-weight: 600px;
}

textarea {
  padding: 10px;
  background-color: rgba(218, 241, 255, 0.5);
  /* opacity: 0.2; */
  border: 2px solid #182d9a;
  width: 350px;
  height: 150px;
  margin-bottom: 20px;
}

textarea::placeholder {
  color: #182d9a;
  font-weight: 600px;
}

.mes {
  align-items: center;
  margin: auto;
  text-align: center;
}

.kdwk {
  padding: 8px 12px;
  font-size: 1.2em;
  border: none;
  background-color: #182d9a;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  margin-left: 100px;
  margin-bottom: 100px;
  /* padding: auto; */
}

@media (max-width: 1229px) {
  input {
    width: 145px;
  }

  textarea {
    width: 300px;
    height: 150px;
  }
  .forming {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .kdwk {
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .contact-form h1 {
    margin-bottom: 20px;
  }

  .good p {
    margin: 10px;
  }
}

@media (max-width: 528px) {
  .contact-form h1 {
    margin-bottom: 40px;
    font-size: 1.6em;
    padding: 10px;
  }
  .contact-form h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 344px) {
  input {
    width: 130px;
  }
  textarea {
    width: 270px;
  }
}



.buttom {
  background-color: #182d9a;
  /* position: relative;
  top: -20px; */
}

.niphem-na {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 30px;
}

.niphem-nav-lis {
  display: flex;
  gap: 2em;
  align-items: center;
}

.niphem-nav-lis li a {
  color: #fff;
  font-weight: 600;
}

.niphem-nav-lis li a:hover {
  color: #86d2fe;
  font-weight: 600;
}

.niphem-nav-lis li a {
  display: flex;
  gap: 0.3em;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
}

.niphem-nav-lis li a i {
  padding-top: 4px;
}

@media (max-width: 709px) {
  .niphem-nav-lis {
    display: none;
  }

  .ooooo {
    padding-top: 10px;
    padding-left: 470px;
  }

  .niphem-na {
    padding-top: 10px;
    padding: 10px;
  }
}

@media (max-width: 630px) {
  .ooooo {
    padding-top: 10px;
    padding-left: 400px;
  }
}

@media (max-width: 513px) {
  .ooooo {
    padding-top: 10px;
    padding-left: 350px;
  }
}

@media (max-width: 426px) {
  .ooooo {
    padding-top: 10px;
    padding-left: 200px;
  }
}
